@tailwind base;
@tailwind components;
@tailwind utilities;

.contenedor{
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px;
    background-color: lightgray;
}
.contenedor .contenedor{
    background-color: gray;

}
.icono_test{
    background-color: gray;
    border: darkgray;
    height: 15px;
     width: 30px;
}